.header {
  transition: box-shadow 150ms ease;
  box-shadow: var(--mantine-shadow-xs);
  text-transform: uppercase;
  /* background-color: var(--mantine-color-gray-2); */
  z-index: 1;
}
.table {
  background-color: white;
}
